.itemCompleted{
    background-color: #d1e7dd !important;
}
.textItemCompleted{
    text-decoration: line-through;
}
/* .FaCheckinverse:hover{
    color: aliceblue;
} */

.badgeIconX:hover{
    background-color: rgb(204, 63, 63) !important;
    cursor: pointer;
}
.badgeIconX{
    position: absolute;
    top: 33%;
    right: 2%;
    vertical-align: sub;
    z-index: 999;
}
.badgeIconV:hover .FaCheckInverse{
    background-color: rgb(17, 182, 44) !important;
    cursor: pointer;
    color: aliceblue;
    
}
.badgeIconV:hover{
    background-color: rgb(17, 182, 44) !important;
    cursor: pointer;
}
.badgeIconV{
    position: absolute;
    top: 33%;
    vertical-align: sub;
    z-index: 999;
    border: red;
}
.overf{

    position: relative;
}

.itemHover:hover{
    cursor: pointer;
}

.textItem{
    margin-left: 30px !important;
}