.itemCompleted{
    background-color: #d1e7dd !important;
}
.textItemCompleted{
    text-decoration: line-through;
}

.badgeIcon:hover{
    background-color: rgb(204, 63, 63) !important;
    cursor: pointer;
}
.badgeIcon{
    position: absolute;
    top: 33%;
    right: 2%;
    vertical-align: sub;
    z-index: 999;
}
.overf{

    position: relative;
}

.itemHover:hover{
    cursor: pointer;
}